page-findCar {
  #findCarMap {
    height: 75vh;
    width: 100vw;
  }

  ion-fab {
    button {
      padding: 5px;
    }
  }

  #distance {
    p {
      position: absolute;
      z-index: 9999;
      top: 64vh;
      left: 5vw;
      background-color: color($colors, white, base);
      color: color($colors, primary, base);
      border: 1px solid color($colors, primary, base);;
      border-radius: 5px;
      padding: 5px;
    }
  }
}
